@import "//at.alicdn.com/t/font_501801_05e3slvbzo0kvs4i.css";

.cefc-icon {
  &-blue {
    color: #45a6ec;
  }

  &-white {
    color: #FFFFFF;
  }

  &-sm {
    font-size: .28rem;
  }

  &-md {
    font-size: .30rem;
  }

  &-lg {
    font-size: .32rem;
  }
}