@import '../../node_modules/cefc-ui-style/src/mixins/utils.less';
@import '../../@{theme}';

//
// variables
// ===========================
@imageUrl:                    '../style/images/';
@img-height:                  .24rem;
@cell-img-height:             @img-height - .02rem;
@home-img-height:             @img-height + .04rem;
@cellPrefixCls: cefc-icon;

//
// functions
// ===========================
.resize(@width, @height) {
  width: @width;
  height: @height;
}

.setImage(@width, @url, @position-x:center, @position-y:center) {
  background: url(@url) no-repeat;
  background-size: @width auto;
  background-position: @position-x @position-y;
}

.setIconImage(@width, @height, @url) {
  .resize(@width + .04rem, @height + .04rem);
  .setImage(@width, @url);
}


//
// styles
// ===========================

.@{cellPrefixCls} {
  display: block;

  &-ds-inline {
    display: inline-block;
  }

  &-checked {
    .setIconImage(@img-height, @img-height, "@{imageUrl}checked.png");
  }

  &-close-circle {
    .setIconImage(@img-height, @img-height, "@{imageUrl}close-circle.png");
  }

  &-down {
    .setIconImage(@img-height, @img-height, "@{imageUrl}down.png");
  }

  &-down-s {
    .setIconImage(@img-height, @img-height, "@{imageUrl}down-s.png");
  }

  &-exclamation-circle {
    .setIconImage(@img-height, @img-height, "@{imageUrl}exclamation-circle.png");
  }

  &-left-circle {
    .setIconImage(@img-height, @img-height, "@{imageUrl}left-circle.png");
  }

  &-loading {
    .setIconImage(@img-height, @img-height, "@{imageUrl}loading.png");
  }

  &-minus-circle {
    .setIconImage(@img-height, @img-height, "@{imageUrl}minus-circle.png");
  }

  &-right {
    .setIconImage(@img-height, @img-height, "@{imageUrl}right.png");
  }

  &-search {
    .setIconImage(@img-height, @img-height, "@{imageUrl}search.png");
  }

  &-up {
    .setIconImage(@img-height, @img-height, "@{imageUrl}up.png");
  }

  &-up-s {
    .setIconImage(@img-height, @img-height, "@{imageUrl}up-s.png");
  }

  &-plus-circle {
    .setIconImage(@img-height, @img-height, "@{imageUrl}plus-circle.png");
  }

  &-reload {
    .setIconImage(@img-height, @img-height, "@{imageUrl}reload.png");
  }

  &-close {
    .setIconImage(.22rem, .22rem, "@{imageUrl}close.png");
  }
}

